# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.spec

# Virtual environment
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
